@use "src/_custom.scss" as *;

.Sidenav {


   @include media-breakpoint-up(md){
        height:100%;
    } 
    
    &-img {
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        max-width: 20rem;
    }

    &-img2 {
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        max-width: 5rem;
    }

    &-li {
        cursor: pointer;
    }
}