<div class="Main container">
    <div class="row my-5 ">
        <div class="col-12 col-md-8">
            <p class="text-warning fw-bold d-none d-md-block">By. <a class="text-danger text-decoration-none"
                    href="https://www.facebook.com/SyStrix2" target="_blank">Juan Tasayco </a></p>
            <h1 class="display-1 fw-bold text-center text-md-start">Busca tus Pokemons Favoritos</h1>
            <p class="Main-p fs-5 mt-3 text-center text-md-start">Las circustancias en que uno nace no tienen
                importancia, es lo que uno hace con el dón de la vida lo que
                nos dice quiénes somos</p>

            <div class="button mt-3 d-flex justify-content-center justify-content-md-start">
                <button class="btn btn-danger btn-lg">Buscar más...</button>

            </div>
        </div>
        <div class="col-12 col-md-4 p-3 p-md-0">
            <img src="assets/menu.png" alt="" class=" Main-img rounded-5 ">
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h2 class="fw-bold">Revisa nuestras secciones</h2>
        </div>
    </div>

    <div class="Main-card-row row mt-3">
        <div class="Main-card-col col-md-4">
            <div class="Main-card card rounded-3 ">
                <img src="assets/card_1.jpg" alt="" class="Main-card-img rounded-3 img-fluid">
            </div>
        </div>
        <div class="Main-card-col col-md-4">
            <div class="Main-card card rounded-3">
                <img src="assets/card_2.jpg" alt="" class="Main-card-img rounded-3">
            </div>
        </div>
        <div class="Main-card-col col-md-4">
            <div class="Main-card card rounded-3">
                <img src="assets/card_3.png" alt="" class="Main-card-img rounded-3">
            </div>
        </div>
    </div>


</div>