@use "src/_custom" as *;

.Main {
    
&-section-1{

    margin-bottom: 5rem;
}

    &-img {
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &-p {
        @include media-breakpoint-up(md) {
            width: 75%;
        }

    }

    &-title{
        letter-spacing: -1px;
    }

    &-card {
        transition:box-shadow .2s ease-out;
        margin-top:6rem;
        &:hover {
            box-shadow: $box-shadow-sm ;
            cursor: pointer;
          
        }

        max-height: 18rem;

        &-row {
            position: relative;
           
        }

        &-img {
            opacity: 0.9;
            max-height: 18rem;
        }

        &-title {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }



    &-section-2{
        margin-bottom: 5rem;

        &-img{
            max-height: 10rem;
            filter: brightness(1.1);
            mix-blend-mode: multiply;
        }
    }

}

.Carrousel{

    border:2px solid red;
    &-img{
      max-height: 28rem;
      object-fit: cover;
      
    }
}


.Card{
    &-principal{
        @include media-breakpoint-up(lg){
            border:2px solid green;
            margin-right: -4rem;
            z-index: 999;
        } 
     
    }
}
.Card2{
    max-width: 30rem;
}

