@use "src/_custom";

.Section{
    &-img{
        filter:brightness(1.1);
  
        max-width: 10rem;
        border-radius: 50% 50%;

    }
    &-img2{
        filter:brightness(1.1);
    }

    &-card2{
        max-width:30rem;
    }
}

